#personal h2{background-image:none !important;}
#personal h2 .avatar{width:28px;height:28px;border-radius:50%;position:relative;top:-5px}
.mw-userlink bdi .avatar{width:16px;height:16px;}
.ns-2 #firstHeading .avatar{width:35px;height:35px;position:}
