.customModal-bg {
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.4);
}
.customModal {
  left: 10%;
  width: 80%;
  z-index: 1001;
  background: white;
  border: 1px solid #ccc;
  border-bottom: 4px solid #aaa;
}
.customModal-close {

}
.customModal .customModal-title {
  margin: 8px 16px 4px 16px;
}
.customModal .customModal-content {
  padding: 8px 14px;
}
.customModal-close [data-action="closeModal"] {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 24px;
  top: 12px;
  cursor: pointer;
}
