/**
 * @theme solarized
 * @desc  Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
 */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
}
.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}
/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}
/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}
/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}
/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}
/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}
/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}
.hljs-formula {
  background: #eee8d5;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
/* Custom */
pre.highlight {
  font-size: 1rem;
  line-height: 1.4;
  padding: 0.85em;
  word-wrap: normal;
  word-break: break-all;
  white-space: pre;
  overflow-x: auto;
  font-weight: normal;
}
pre.highlight .line-content {
  padding-bottom: 1rem;
}
pre.highlight.linenums {
  padding: 0;
  position: relative;
}
pre.highlight.linenums .line-container {
  position: relative;
}
pre.highlight.linenums .line-container .line-content {
  position: relative;
  width: calc(100% - 3em);
  left: 3em;
  overflow-x: auto;
}
pre.highlight.linenums .line-content .line-row {
  padding: 0;
  margin: 0;
}
pre.highlight.linenums .line-content .line-row::after {
  /* 行末添加不换行空格，保证空 div 的高度 */
  content: '\a0';
}
pre.highlight.linenums .line-ping {
  font-weight: bold;
  background: #fbe7b2;
}
pre.highlight.linenums .line-container .line-numbers {
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  width: 3em;
  padding: 0;
  margin: 0;
  text-align: center;
}
pre.highlight.linenums .line-container .line-numbers .line-number-block {
  color: #a0a0a0;
}
